[submodule "react-course"]
	path = react-course
	url = https://github.com/zezit/react-course.git
[submodule "React1_Airbnb"]
	path = React1_Airbnb
	url = https://zezit@github.com/zezit/React1_Airbnb.git
[submodule "React1_Travel-Journal"]
	path = React1_Travel-Journal
	url = https://github.com/zezit/React1_Travel-Journal
[submodule "React2_Meme-Generator"]
	path = React2_Meme-Generator
	url = https://github.com/zezit/React2_Meme-Generator.git
[submodule "React3_Dark-Mode"]
	path = React3_Dark-Mode
	url = https://github.com/zezit/React3_Dark-Mode.git
[submodule "React3-Notes-App"]
	path = React3-Notes-App
	url = https://github.com/zezit/React3-Notes-App
[submodule "Tenzies-Project"]
	path = Tenzies-Project
	url = https://github.com/zezit/Tenzies-Project
